.vertical-align {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  color: lightgray;
}

.temp-font {
  font-size: 80px;
}

.icon-row {
  height: 200px;
}

.description {
  font-size: 18px;
}
